@font-face {
    font-family: 'VT323';
    src: url('/static/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1e1e1e;
    color: #008600;
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32pt;
}

p {
    font-size: 18pt;
}

li {
    font-size: 18pt;
}

.navbar {
    background-color: #111;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 20pt;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: #008600;
    text-decoration: none;
    font-weight: bold;
    
}

.navbar a:hover {
    text-decoration: underline;
}

.home-container {
    text-align: center;
    padding: 3rem;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

ul {
    text-align: left;
    display: inline-block;
    margin-top: 1rem;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #111;
    font-size: 15pt;
}

.footer a {
    color: #008600;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
    background-color: #2e2e2e;
    padding: 1.5rem;
    border: 1px solid #008600;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.project-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.project-link {
    display: inline-block;
    margin-top: 1rem;
    color: #008600;
    text-decoration: underline;
}
