{% extends 'base.html' %}
{% load static %}

{% block title %}Habilidades{% endblock %}

{% block content %}
<div class="home-container">
    <h1>Nossas habilidades</h1>

    <h2 class="section-title">Linguagens</h2>
    <div class="card-grid">
        <div class="skill-card">
            <img src="{% static 'images/javalogo.png' %}" alt="Java">
            <p>Java</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/Python-logo-notext.svg.png' %}" alt="Python">
            <p>Python</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/c-programming.png' %}" alt="C">
            <p>C</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/c#.png' %}" alt="C#">
            <p>C#</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/css.png' %}" alt="CSS">
            <p>CSS</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/html.png' %}" alt="HTML">
            <p>HTML</p>
        </div>
    </div>

    <h2 class="section-title">Ferramentas</h2>
    <div class="card-grid">
        <div class="skill-card">
            <img src="{% static 'images/git.png' %}" alt="Git">
            <p>Git</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/docker.png' %}" alt="Docker">
            <p>Docker</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/git.png' %}" alt="Git">
            <p>Git</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/vscode.png' %}" alt="VSCode">
            <p>VSCode</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/visualstudio.png' %}" alt="Visual Studio">
            <p>Visual Studio</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'images/androidstudio.svg' %}" alt="Android Studio">
            <p>Android Studio</p>
        </div>
    </div>
</div>




{% endblock %}
