{% extends "base.html" %}
{% load static %}

{% block title %}Projetos - MMV Consultoria{% endblock %}

{% block content %}
<div class="home-container">
    <h1>Nossos Projetos</h1>
    <p>Confira os projetos desenvolvidos por nós:</p>

    <div class="project-grid">
        {% for project in projects %}
        <div class="project-card">
            {% if project.image %}
                <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-img">
            {% endif %}
            <h2>{{ project.title }}</h2>
            <p>{{ project.description|truncatewords:20 }}</p>
            <a href="{% url 'projects:project_detail' project.pk %}" class="project-link">Ver detalhes</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
